<div class="text-center">
  <div>
      <%= month_calendar events: @records do |date, records| %>
        <%= date.day %>
      
        <% records.each do |record| %>
          <% if record.done == 1 %>
            <div class="">
              <%= link_to record.title.first(1),folder_record_path(record.folder,record), class: "cal-rec-link" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
  </div>    
</div>    