<div class="rec-calendar">
    <%= month_calendar events: @records do |date, records| %>
      <%= date.day %>
    
      <% records.each do |record| %>
        <div class="cal-rec">
          <%= link_to record.title.truncate(10),folder_record_path(record.folder,record), class: "cal-rec-link" %>
        </div>
      <% end %>
    <% end %>
</div>    