    <div class="co folreccard">
      <% @records.each do |record| %>
        <% if record.done == 1 %>
         <% if record.link? %>
          <div class ="link-card">
        　  <%=link_to record.link do %><img class="" src="<%= record.image %>"class="" width="198" height="auto"><% end %>
        　</div>  
         <% end %>  
        <% end %> 
      <% end %>
    </div>