    <div class="co folreccard">
      <% @records.each do |record| %>
        <% if record.done == 1 %>
         <% if record.youtube? %>
          <div class ="link-card">
            <p><%= record.title %></p>  
        　  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= record.youtube.last(11) %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        　</div>  
         <% end %>  
        <% end %> 
      <% end %>
    </div>
    
    