
<div class= "index-header">
  <div class= "back-btn">
    <%= link_to image_tag("back.png"),folder_record_path(@folder,@record), class: "d-inline-block  mb-3 " %>
  </div>
</div>

<h4 class= "text-center folder-title"><span class="r-letter mr-2"><%= @folder.title %></span>を編集</h4>

<%= render 'form', record: @record %>


<%= link_to '削除', folder_record_path, method: :delete, data: { confirm: '削除しますか?' }%>
