<div class="rec-calendar">
    <% @tag.folders.each do |folder| %>
      <%= month_calendar events: folder.records.all do |date, records| %>
        <%= date.day %>
      
        <% records.each do |record| %>
          <% if record.done == 1 %>
            <div class="cal-rec">
              <%= link_to record.title.truncate(10),folder_record_path(record.folder,record), class: "cal-rec-link" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</div>    