<h3 class="text-center">タグを編集</h3>

<%= render 'form', tag: @tag %>

<div class="text-center d-inline-box pb-3">
<%= link_to '削除', @tag, method: :delete, data: { confirm: '削除しますか?' }, class: "d-btn" %>
</div>

<a href="javascript:history.back()" style="color: black;">戻る</a>
