<div class="text-center">
  <div class="mt-5" style="width: 80%; margin: auto;">
      <%= month_calendar events: @records do |date, records| %>
        <%= date.day %>
      
        <% records.each do |record| %>
          <% if record.done == 1 %>
            <div class="">
              <%= link_to record.title.first(1),public_record_path(record.id), class: "cal-rec-link" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
  </div>    
</div>