<% @records.each do |record| %>
    <div class="co folreccard">
        <div class="r-letter mr-3 ml-3" style="width: 18rem;">
            <% if record.done == 1 %> 
                <%= link_to public_record_path(record.id), class: "card-letter" do %>
                  <% if record.image? %>
                      <%= link_to image_tag(record.image.url, class: "card-img-top record--comment-img"),public_record_path(record.id)  %>
                  <% end %>
                  <div class=" text-center mt-3">  
                    <h5 class="card-title card-letter"><%= record.title.truncate(38) %></h5>
                    <% if record.comment? %>
                    <p class="card-text card-letter mb-3"><%= sanitize(record.comment.truncate(160)) %></p>
                    <% end %>
                  </div>
                 <% end %> 
             <% end %>
        </div>     
     </div>
<% end %>