<div class="co folreccard">
  <% @records.each do |record| %>
    <% if record.done == 1 %>
      <div class="text-dark folder img-only">
        <% if record.image? %>
          <%= link_to image_tag(record.image, class: "img-only-img"),public_record_path(record.id)  %>
        <% else %>
          <%=  link_to image_tag("no_image.png", class: "img-only-img"),public_record_path(record.id) %>
        <% end %>
      </div> 
    <% end %> 
  <% end %>
</div> 