main {
  height: calc(100vh - 50px);
  min-height: calc(100vh - 50px);
  padding-top: 60px;
}

footer {
  height: 50px;
}

.bg-home {
  background-color: white;
}

header {
  background-color: black;
}

.folder {
  width: 200px;
}


.new-tag {
  width: 110px;
}

.back_to_folder {
  width: 80px;
}

.record-img {
  height: 315px;
  width: 100%;
  object-fit: contain;
  background-color: white;
}

.record-img:hover {
  opacity: 0.8;
}

.record-money {
  position: absolute;
  top: 380px;
  left: 110px;
}

.record-count {
  position: absolute;
  top: 420px;
  left: 170px;
}

.record-card {
  height: 440px;
}

.fixed-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.fixed-btn:hover {
  opacity: 0.8;
}

.back-btn {
  position: fixed;
  bottom: 110px;
  right: 60px;
  z-index: 50;
}

.back-btn:hover {
  opacity: 0.8;
}

.record-edit {
  padding-top: 50px;
}

.record-tag-search {
  padding-top: 150px;
}

.record-hour {
  position: absolute;
  left: 19px;
  top: 404px;
  
}

.record-minute {
  position: absolute;
  left: 60px;
  top: 399px;
}

.show_done {
  width: 110px;
}

.view_select{
  width: 110px;
}

.view-btn {
  display       : inline-block;
  border-radius : 50%;          /* 角丸       */
  font-size     : 2pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 7px;   /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  /*box-shadow    : 2px 2px #666666;  /* 影の設定 */
  background-image: url("reload.png");
  background-size: cover;
}
.view-btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 0.8;         /* カーソル時透明度 */
}

.record-link {
  position: absolute;
  top: 390px;
  left: 175px;
}

.folreccard {
  margin: 40px;
}

