<h3 class="text-center">カテゴリーを編集</h3>

<%= render 'form', category: @category %>

<a><%= link_to '削除', @category, method: :delete, data: { confirm: '削除しますか?' } %></a>
<a href="javascript:history.back()" style="color: black;">戻る</a>
