<h3 class="text-center folder-title fw-bold"><span class="rec-cat mr-2">カテゴリー</span>を作成</h3>

<%= render 'form', category: @category %>

<div class= "back-btn">
    <%= link_to image_tag("back.png"),categories_path, class: "d-inline-block  mb-3 " %>
</div>
