
<div class= "index-header">
    <div class= "back-btn">
      <%= link_to image_tag("back.png"),folder_record_path(@folder,@record), class: "d-inline-block  mb-3" %>
    </div>
</div>  



<h4 class="text-center folder-title">メモを編集</h4>

<%= render 'form', memo: @memo %>

<div class="text-center d-inline-box pb-3">
<%= link_to '削除', folder_record_memo_path(@folder,@record), method: :delete, data: { confirm: '削除しますか?' }, class: "d-btn" %>
</div>

<%= link_to '戻る', folder_record_path(@folder,@record) %>
